.u-badge[data-v-a28ccbb2] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0.75rem;
  padding: 0.125rem 0.25rem;
  border-radius: 3.125rem;
  z-index: 9;
}
.u-badge--bg--primary[data-v-a28ccbb2] {
  background-color: var(--color-primary);
}
.u-badge--bg--error[data-v-a28ccbb2] {
  background-color: var(--color-error, #ff2c3c);
}
.u-badge--bg--success[data-v-a28ccbb2] {
  background-color: var(--color-success, #19be6b);
}
.u-badge--bg--info[data-v-a28ccbb2] {
  background-color: var(--color-info, #909399);
}
.u-badge--bg--warning[data-v-a28ccbb2] {
  background-color: var(--color-warning, #ff9900);
}
.u-badge-dot[data-v-a28ccbb2] {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 3.125rem;
  line-height: 1;
}
.u-badge-mini[data-v-a28ccbb2] {
  transform: scale(0.8);
  transform-origin: center center;
}
.u-info[data-v-a28ccbb2] {
  background-color: var(--color-info, #909399);
  color: #fff;
}
uni-view[data-v-5cf5aad8],
uni-scroll-view[data-v-5cf5aad8] {
  box-sizing: border-box;
}
[data-v-5cf5aad8]::-webkit-scrollbar,[data-v-5cf5aad8]::-webkit-scrollbar,[data-v-5cf5aad8]::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
}
.u-scroll-box[data-v-5cf5aad8] {
  position: relative;
}
.u-scroll-view[data-v-5cf5aad8] {
  width: 100%;
  white-space: nowrap;
  position: relative;
}
.u-tab-item[data-v-5cf5aad8] {
  position: relative;
  display: inline-block;
  text-align: center;
  transition-property: background-color, color;
}
.u-tab-bar[data-v-5cf5aad8] {
  position: absolute;
  bottom: 0;
}
.u-tabs-scorll-flex[data-v-5cf5aad8] {

  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.zp-container[data-v-b55bdf15]{

		display: flex;

		align-items: center;
		justify-content: center;
}
.zp-container-fixed[data-v-b55bdf15] {

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}
.zp-main[data-v-b55bdf15]{

		display: flex;

		flex-direction: column;
		align-items: center;
        padding: 1.5625rem 0;
}
.zp-main-image-rpx[data-v-b55bdf15] {
		width: 7.5rem;
		height: 7.5rem;
}
.zp-main-image-px[data-v-b55bdf15] {
		width: 120px;
		height: 120px;
}
.zp-main-title[data-v-b55bdf15] {
		color: #aaaaaa;
		text-align: center;
}
.zp-main-title-rpx[data-v-b55bdf15] {
		font-size: 0.875rem;
		margin-top: 0.3125rem;
		padding: 0 0.625rem;
}
.zp-main-title-px[data-v-b55bdf15] {
		font-size: 14px;
		margin-top: 5px;
		padding: 0px 10px;
}
.zp-main-error-btn[data-v-b55bdf15] {
		border: solid 1px #dddddd;
		color: #aaaaaa;
}
.zp-main-error-btn-rpx[data-v-b55bdf15] {
		font-size: 0.875rem;
		padding: 0.25rem 0.75rem;
		border-radius: 0.1875rem;
		margin-top: 1.5625rem;
}
.zp-main-error-btn-px[data-v-b55bdf15] {
		font-size: 14px;
		padding: 4px 12px;
		border-radius: 3px;
		margin-top: 25px;
}

/* [z-paging]公用的静态css资源 */
.zp-line-loading-image[data-v-fff6d205] {

	animation: loading-flower-fff6d205 1s steps(12) infinite;

	color: #666666;
}
.zp-line-loading-image-rpx[data-v-fff6d205] {
	margin-right: 0.25rem;
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-line-loading-image-px[data-v-fff6d205] {
	margin-right: 4px;
	width: 17px;
	height: 17px;
}
.zp-loading-image-ios-rpx[data-v-fff6d205] {
	width: 1.25rem;
	height: 1.25rem;
}
.zp-loading-image-ios-px[data-v-fff6d205] {
	width: 20px;
	height: 20px;
}
.zp-loading-image-android-rpx[data-v-fff6d205] {
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-loading-image-android-px[data-v-fff6d205] {
	width: 17px;
	height: 17px;
}
@keyframes loading-flower-fff6d205 {
0% {
		transform: rotate(0deg);
}
to {
		transform: rotate(1turn);
}
}
.zp-r-container[data-v-fff6d205] {

		display: flex;
		height: 100%;

		flex-direction: row;
		justify-content: center;
		align-items: center;
}
.zp-r-container-padding[data-v-fff6d205] {
}
.zp-r-left[data-v-fff6d205] {

		display: flex;

		flex-direction: row;
		align-items: center;
		overflow: hidden;
}
.zp-r-left-image[data-v-fff6d205] {
		transition-duration: .2s;
		transition-property: transform;
		color: #666666;
}
.zp-r-left-image-pre-size-rpx[data-v-fff6d205] {

		width: 1.0625rem;
		height: 1.0625rem;
		overflow: hidden;
}
.zp-r-left-image-pre-size-px[data-v-fff6d205] {

		width: 17px;
		height: 17px;
		overflow: hidden;
}
.zp-r-arrow-top[data-v-fff6d205] {
		transform: rotate(0deg);
}
.zp-r-arrow-down[data-v-fff6d205] {
		transform: rotate(180deg);
}
.zp-r-right[data-v-fff6d205] {

		display: flex;

		flex-direction: column;
		align-items: center;
		justify-content: center;
}
.zp-r-right-time-text-rpx[data-v-fff6d205] {
		margin-top: 0.3125rem;
		font-size: 0.8125rem;
}
.zp-r-right-time-text-px[data-v-fff6d205] {
		margin-top: 5px;
		font-size: 13px;
}

/* [z-paging]公用的静态css资源 */
.zp-line-loading-image[data-v-0a5fd7d6] {

	animation: loading-flower-0a5fd7d6 1s steps(12) infinite;

	color: #666666;
}
.zp-line-loading-image-rpx[data-v-0a5fd7d6] {
	margin-right: 0.25rem;
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-line-loading-image-px[data-v-0a5fd7d6] {
	margin-right: 4px;
	width: 17px;
	height: 17px;
}
.zp-loading-image-ios-rpx[data-v-0a5fd7d6] {
	width: 1.25rem;
	height: 1.25rem;
}
.zp-loading-image-ios-px[data-v-0a5fd7d6] {
	width: 20px;
	height: 20px;
}
.zp-loading-image-android-rpx[data-v-0a5fd7d6] {
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-loading-image-android-px[data-v-0a5fd7d6] {
	width: 17px;
	height: 17px;
}
@keyframes loading-flower-0a5fd7d6 {
0% {
		transform: rotate(0deg);
}
to {
		transform: rotate(1turn);
}
}
.zp-l-container[data-v-0a5fd7d6] {

		clear: both;
		display: flex;

		flex-direction: row;
		align-items: center;
		justify-content: center;
}
.zp-l-container-rpx[data-v-0a5fd7d6] {
		height: 2.5rem;
		font-size: 0.84375rem;
}
.zp-l-container-px[data-v-0a5fd7d6] {
		height: 40px;
		font-size: 14px;
}
.zp-l-line-loading-custom-image[data-v-0a5fd7d6] {
		color: #a4a4a4;
}
.zp-l-line-loading-custom-image-rpx[data-v-0a5fd7d6] {
		margin-right: 0.25rem;
		width: 0.875rem;
		height: 0.875rem;
}
.zp-l-line-loading-custom-image-px[data-v-0a5fd7d6] {
		margin-right: 4px;
		width: 14px;
		height: 14px;
}
.zp-l-line-loading-custom-image-animated[data-v-0a5fd7d6]{

		animation: loading-circle-0a5fd7d6 1s linear infinite;
}
.zp-l-circle-loading-view[data-v-0a5fd7d6] {
		border: 0.09375rem solid #dddddd;
		border-radius: 50%;

		animation: loading-circle-0a5fd7d6 1s linear infinite;
}
.zp-l-circle-loading-view-rpx[data-v-0a5fd7d6] {
		margin-right: 0.25rem;
		width: 0.71875rem;
		height: 0.71875rem;
}
.zp-l-circle-loading-view-px[data-v-0a5fd7d6] {
		margin-right: 4px;
		width: 12px;
		height: 12px;
}
.zp-l-text-rpx[data-v-0a5fd7d6] {
		font-size: 0.9375rem;
		margin: 0 0.1875rem;
}
.zp-l-text-px[data-v-0a5fd7d6] {
		font-size: 15px;
		margin: 0px 3px;
}
.zp-l-line-rpx[data-v-0a5fd7d6] {
		height: 1px;
		width: 3.125rem;
		margin: 0 0.3125rem;
}
.zp-l-line-px[data-v-0a5fd7d6] {
		height: 1px;
		width: 50px;
		margin: 0 5px;
}
@keyframes loading-circle-0a5fd7d6 {
0% {
			transform: rotate(0deg);
}
100% {
			transform: rotate(360deg);
}
}


/* [z-paging]公共css*/
.z-paging-content[data-v-fb5441fe] {
	position: relative;

	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;

	flex-direction: column;
}
.z-paging-content-fixed[data-v-fb5441fe], .zp-loading-fixed[data-v-fb5441fe] {
	position: fixed;

	height: auto;
	width: auto;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.zp-page-top[data-v-fb5441fe], .zp-page-bottom[data-v-fb5441fe] {

	width: auto;

	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
}
.zp-page-left[data-v-fb5441fe],.zp-page-right[data-v-fb5441fe] {

	height: 100%;
}
.zp-scroll-view-super[data-v-fb5441fe] {
	flex: 1;
	overflow: hidden;
	position: relative;
}
.zp-view-super[data-v-fb5441fe] {

	display: flex;

	flex-direction: row;
}
.zp-scroll-view-container[data-v-fb5441fe], .zp-scroll-view[data-v-fb5441fe] {
	position: relative;

	height: 100%;
	width: 100%;
}
.zp-absoulte[data-v-fb5441fe] {

	position: absolute;
	top: 0;
	width: auto;
}
.zp-scroll-view-absolute[data-v-fb5441fe] {
	position: absolute;
	top: 0;
	left: 0;
}
.zp-scroll-view-hide-scrollbar[data-v-fb5441fe] ::-webkit-scrollbar {
	display: none;
	-webkit-appearance: none;
	width: 0 !important;
	height: 0 !important;
	background: transparent;
}
.zp-paging-touch-view[data-v-fb5441fe] {
	width: 100%;
	height: 100%;
	position: relative;
}
.zp-fixed-bac-view[data-v-fb5441fe] {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 200px;
}
.zp-paging-main[data-v-fb5441fe] {
	height: 100%;

	display: flex;

	flex-direction: column;
}
.zp-paging-container[data-v-fb5441fe] {
	flex: 1;
	position: relative;

	display: flex;

	flex-direction: column;
}
.zp-chat-record-loading-custom-image[data-v-fb5441fe] {
	width: 1.09375rem;
	height: 1.09375rem;

	animation: loading-flower-fb5441fe 1s linear infinite;
}
.zp-page-bottom-keyboard-placeholder-animate[data-v-fb5441fe] {
	transition-property: height;
	transition-duration: 0.15s;

	will-change: height;
}
.zp-custom-refresher-container[data-v-fb5441fe] {
	overflow: hidden;
}
.zp-custom-refresher-refresh[data-v-fb5441fe] {

	display: block;
}
.zp-back-to-top[data-v-fb5441fe] {
	z-index: 999;
	position: absolute;
	bottom: 0;
	transition-duration: .3s;
	transition-property: opacity;
}
.zp-back-to-top-rpx[data-v-fb5441fe] {
	width: 2.375rem;
	height: 2.375rem;
	bottom: 0;
	right: 0.78125rem;
}
.zp-back-to-top-px[data-v-fb5441fe] {
	width: 38px;
	height: 38px;
	bottom: 0px;
	right: 13px;
}
.zp-back-to-top-show[data-v-fb5441fe] {
	opacity: 1;
}
.zp-back-to-top-hide[data-v-fb5441fe] {
	opacity: 0;
}
.zp-back-to-top-img[data-v-fb5441fe] {

	width: 100%;
	height: 100%;




	z-index: 999;
}
.zp-empty-view[data-v-fb5441fe] {



	flex: 1;
}
.zp-empty-view-center[data-v-fb5441fe] {

	display: flex;

	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.zp-loading-fixed[data-v-fb5441fe] {
	z-index: 9999;
}
.zp-safe-area-inset-bottom[data-v-fb5441fe] {
	position: absolute;
}
.zp-n-refresh-container[data-v-fb5441fe] {

	display: flex;

	justify-content: center;
	width: 23.4375rem;
}
.zp-n-list-container[data-v-fb5441fe]{

	display: flex;

	flex-direction: row;
	flex: 1;
}

/* [z-paging]公用的静态css资源 */
.zp-line-loading-image[data-v-fb5441fe] {

	animation: loading-flower-fb5441fe 1s steps(12) infinite;

	color: #666666;
}
.zp-line-loading-image-rpx[data-v-fb5441fe] {
	margin-right: 0.25rem;
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-line-loading-image-px[data-v-fb5441fe] {
	margin-right: 4px;
	width: 17px;
	height: 17px;
}
.zp-loading-image-ios-rpx[data-v-fb5441fe] {
	width: 1.25rem;
	height: 1.25rem;
}
.zp-loading-image-ios-px[data-v-fb5441fe] {
	width: 20px;
	height: 20px;
}
.zp-loading-image-android-rpx[data-v-fb5441fe] {
	width: 1.0625rem;
	height: 1.0625rem;
}
.zp-loading-image-android-px[data-v-fb5441fe] {
	width: 17px;
	height: 17px;
}
@keyframes loading-flower-fb5441fe {
0% {
		transform: rotate(0deg);
}
to {
		transform: rotate(1turn);
}
}


